body {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	line-height: 200%;
	background-image: url(../images/sayagata.png);
}

hr {
    border-width: 1.5px;
    border-style: solid;
    border-color: #cccccc;
}


.pic {
	margin-right: 30px;
	margin-bottom: 20px;
}

hr.sidebar {
	border: 1px solid #dddddd;
	background-color: #ffffff;
}

#footer {
	color: #fff;
	float: none;
	text-align: center;
}

