body {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background-image: url(../images/sayagata.png);
	padding-bottom: 70px; /* padding for footer, fix this later */
}

h1 {
	padding-bottom: 25px;
	font-size: 30px;
	font-weight: bold; 
	border-bottom: 3px solid #cccccc;
}

h2 {
	padding-bottom: 20px;
	font-size: 22px;
	font-weight: bold; 
	border-bottom: 2px solid #eeeeee;
}

form {
	font-size: 18px;
	padding-top: 30px;
	line-height: 200%;
}

textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 200px;
	max-height: 200px;
}

hr.sidebar {
	border: 1px solid #dddddd;
	background-color: #ffffff;
}

p.about {
	line-height: 200%;
	font-size: 16px;
}

.name {
    font-size: 30px;
    font-style: bold;
}

#top {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
}

.box_label {
	background-color: #4aaaa5;
	color: #ffffff;
}

.pic {
	margin-right: 30px;
	margin-bottom: 20px;
}

.teal {
    color: #4aaaa5;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-weight: bold;
}

.navbar-fixed-bottom {
	border-top: 8px solid #4aaaa5;
}

#footer { /* try sticker footer styling from basic*/
	color: #fff;
	float: none;
	text-align: center;
}

