body {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	line-height: 200%;
	background-image: url(../images/sayagata.png);
}

#footer {
	color: #fff;
}

.pic {
	margin-right: 30px;
	margin-bottom: 20px;
}